*{
    margin: 0px;
    box-sizing: border-box;
}
ul,li{
    padding: 0;
}
.py-100{
    padding:100px 0px;
}
.pt-100{
    padding-top:100px;
}
body{
    background-color: #f7f7f7;
}
.pb-100{
    padding:0px 0px 100px;
}

@mixin theme{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    &:before{
        position: absolute;
        content: "";
        width: 70px;
        height: 2px;
        background: #eb566c;
        top: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
       
     }
  
   

}
@mixin theme-1{
   
        font-size:60px;
        color: #000;
        font-family: "Sarabun",sans-serif;
        line-height: 1.2;
        font-weight:700;
        margin-bottom: 33px;
     
     
}
header{
    width:100%;
    height: auto;
    padding: 13px 0px;
    background-color: #0d2d3e;
}
ul{
    padding:0px;
    margin-bottom: 0px;
    li{
        list-style: none;
        color: #fff;
        display: inline-block;
        margin-right: 30px;
        font-size: 12px;
        font-weight: 100;
        
        font-family: "Roboto",sans-serif;
        text-transform: uppercase;
        i{
            color:#e94d65;
            margin-right: 10px;
        }
    }

}
.header-social{
    li{
        
        list-style: none;
        color: #fff;
        display: inline-block;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 100;

    }
    i{
        color:#fff;
        margin-right: 10px;
    }
}
nav{
    padding:30px 0px;
    ul{
        margin:0px;
        li{
            list-style: none;
            a{
                font-size: 14px;
                color: #0d2d3e;
                font-weight: 400;
                font-family: "Roboto",sans-serif;
                text-decoration: none;
                display: block;
                
            }
            :hover{
                color:#0d2d3e;
            }
        }
    }
    
}
// slider
.slider{
    width:100%;
    height:730px;
    background-image: url('../img/about-2.jpg');
    align-items: center;
    display: flex;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &:before{
        width:100%;
        height:100%;
        background-color: #1f2b7b;
        position: absolute;
        opacity: 0.5;
        top:0%;
        left: 0%;
        content: '';
        z-index: -1;
    
    }   
}
.slider-text{
    h2{
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1;
        text-align: center;
        }
}
// service
    .service-text{
        h4{
            @include theme;
            font-size: 30px;
            font-family: "Roboto",sans-serif;
            font-weight: 700;
            margin-bottom: 30px;
            color: #000a2d;
            display: inline-block;
            position: relative;
            padding-left: 87px;
            
            
            // &:before{
            //     background: red;
            //  }
        }
        p{
            font-family: "Poppins",sans-serif;
            color: #464d65;
            font-size: 14px;
            line-height: 30px;
            margin-bottom: 15px;
            font-weight: normal;
        }
    }
// our-service
.our-service{
    padding:100px 0px;
    background-image:url('../img/our service.webp');
    background-position: center center;
    background-size: cover;
    align-items: center;
    display: flex;
}
.our-box{
    padding-left:50px;
    .our-text{
        @include theme;
        color: #fff;
        
        &:before{
            background: #fff;
         }
        
    }
    .our-text-1{
      @include theme-1;
        font-size:50px;
        margin-bottom:30px;
        color: #fff;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        font-family: "Roboto",sans-serif;
    }
    span{
        font-size: 15px;
    color: #cecece;

    }
    .btn{
        background-color: #ff2143;
        padding: 27px 44px;
        text-transform: uppercase;
        font-family: "Roboto",sans-serif;
        color: #fff;
        display: inline-block;
        font-size: 14 px;
        border-radius: 0;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 0;
        margin-top:30px;
        cursor: pointer;
        transition: color .4s linear;
        position: relative;
        z-index: 1;
        border: 0;
        overflow: hidden;
        &:before{
            position: absolute;
            content: '';
            height: 100%;
            width: 0%;
            left: 0;
            top: 0;
            transition: all 0.5s;
            background-color: #fff;
            z-index: -1;
            opacity: 1;
    
        }
    
    }
    :hover{
        color:#000;
    }
    .btn:hover::before{
		width: 100%;
        color:#000;
        height:100%;
	}
}
// over
.over{
    background-image: url('../img/over.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:100px 0px;
}
.over-text{
    text-align: center;

.over-icon{
    text-align: center;
    margin-bottom:30px;
    display: block;
}

        p{
            line-height: 1.5;
            margin-bottom: 50px;
            font-size: 17px;
            color: #d3d3d4;
            font-weight: 300;
        }
    
}
.over-img{
    display: flex;
    justify-content: center;
    // margin:0 auto;
    .over-img-1{
          margin-right:30px;
    }
   
    span{
        color: #f04e3c;
        font-size: 30px;
        font-weight: 600;
    }
    p{
        font-size:18px;
        color: #57667e;
        font-weight: 500;
        line-height: 1.5;
    }
}
// counter
.counter-box{
    height:200px;
    background-color:#fff;
    padding:30px;
    text-align: center;
    margin-top: -70px;
    z-index: 1;
    align-items: center;
    display:flex;
    justify-content: center;
    
    
    .counter{
        color: #000;
        font-size: 60px;
        font-weight: 400;
        font-family: "Roboto",sans-serif;
        line-height: 1;
        margin-bottom: 12px;
        display: block;
    }
    .counter-p{
        font-size: 18px;
        color: #737980;
        line-height: 1;
        margin: 0;
        padding: 0;
    }
}
// our-theme
.our-them-text{
    @include theme;
}

.our-them-text-1{
  @include theme-1;
  font-size:50px;
}
.our-item{
    background-color:#fff;
    padding: 0px 0px 20px 0px;
    .our-item-img{
        overflow: hidden;
       .our-item-img img{
        transition: all 1s;
       }
        :hover{
            transform: scale(1.3);
            transition: all 1s;
            cursor: pointer;
        }
    }
}
.our-title-1{
    padding-top:30px;
    padding-left:30px;
    .our-text-1{
        @include theme-1;
        font-size:25px;
        margin-bottom: 12px;
      }
.our-text{
    @include theme;
    margin: 0px;
    color: #ff2143;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 47px;
      
    &:before{
        width:10%;
        
     }

}

}

    


// footer
.footer{
    padding:100px 0px;
    background-color: #11141b;
}
.footer-text{
    p{
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 35px;
        color: #bdbdbd;
    }
    h2{
        font-size:30px;
        color:#fff;
        span{
            color:#FF0000;
        }
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        margin:0px 0px 15px;
        text-decoration: none;
    }
}
.footer-second{
    h2{
        color: #fff;
        font-family: "Poppins",sans-serif;
        font-size: 18px;
        margin-bottom: 38px;
        font-weight: 500;
        text-transform: uppercase;
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        font-weight: 300;
        text-decoration: none;
        display: block;
        margin-bottom:15px;
    }
}
.footer-tired{
    h2{
        color: #fff;
        font-family: "Poppins",sans-serif;
        font-size: 18px;
        margin-bottom: 38px;
        font-weight: 500;
        text-transform: uppercase;
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        font-weight: 300;
        text-decoration: none;
        display: block;
        margin-bottom:15px;
    }
}
.footer-last{
    h2{
        color: #fff;
        font-family: "Poppins",sans-serif;
        font-size: 18px;
        margin-bottom: 38px;
        font-weight: 500;
        text-transform: uppercase;
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        font-weight: 300;
        text-decoration: none;
        display: block;
        margin-bottom:15px;
    }
    .subcrib{
        form.subscribe_form.relative.mail_part{
            display: flex;
            border:none;
        }
        input#newsletter-form-email {
            border: none;
            padding: 10px 20px;
        }
        input#newsletter-form-email {
            border: none;
            padding: 10px 20px;
            background-color: #101720;
        }
        button#newsletter-submit {
            padding: 14px 22px;
            background: #0a0f17;
            line-height: 1;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            border: none;
        }
    }
}

/*media qaury*/
@media (min-width:0px) {
    .our-box span{
        font-size: 13px;
    }
    .over-text p{
        font-size:12px;
    }
    .counter-box {
        margin-bottom: 91px;
    }
    .about-text h2 {
        font-size: 28px;
    }

 }   
@media (min-width:576px) {
    .service-texte-1{
        font-size:50px;
    }
    
}
@media (min-width:768px) {
    ul li {
        margin-right: 20px;
    }
    .over-text p{
        font-size: 17px;
    }
    .slider h2{
        font-size: 42px;
    }
    .our-title {
        position: relative;
        background: #fff;
        width: 80%;
        padding: 33px 8px 16px 20px;
    }
    .counter-box {
        margin-bottom: 91px;
    }
    .blog-deteils {
        padding: 30px 26px 36px 30px;
    }
    .service-texte-1{
        font-size:58px;
    }
}

@media (min-width:1200px) {
	ul li{
        margin-right: 30px;
    }
    .our-title {
        position: relative;
        background: #fff;
        width: 80%;
        padding: 33px 46px 16px 32px;
        margin-top: -50px;
    }
    .blog-deteils {
        padding: 30px 86px 36px 81px;
    }
    .our-box span{
        font-size: 15px;
    }
    .slider h2{
        font-size:60px;
    }
    .counter-box {
        margin-bottom: 0px;
    }
    
}
@media (min-width:1400px) {

}