*{
    margin: 0px;
    box-sizing: border-box;
}
ul,li{
    padding: 0;
}
.py-100{
    padding:100px 0px;
}
.pt-100{
    padding-top:100px;
}
.pt-50{
    padding-top:50px;
}
body{
    background-color: #f7f7f7;
}
.pb-100{
    padding:0px 0px 100px;
}

@mixin theme{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    &:before{
        position: absolute;
        content: "";
        width: 70px;
        height: 2px;
        background: #eb566c;
        top: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
       
     }
  
   

}
@mixin theme-1{
   
        font-size:60px;
        color: #000;
        font-family: "Sarabun",sans-serif;
        line-height: 1.2;
        font-weight:700;
        margin-bottom: 33px;
     
     
}
header{
    width:100%;
    height: auto;
    padding: 13px 0px;
    background-color: #0d2d3e;
}
ul{
    padding:0px;
    margin-bottom: 0px;
    li{
        list-style: none;
        color: #fff;
        display: inline-block;
        margin-right: 30px;
        font-size: 12px;
        font-weight: 100;
        
        font-family: "Roboto",sans-serif;
        text-transform: uppercase;
        i{
            color:#e94d65;
            margin-right: 10px;
        }
    }

}
.header-social{
    li{
        
        list-style: none;
        color: #fff;
        display: inline-block;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 100;

    }
    i{
        color:#fff;
        margin-right: 10px;
    }
}
nav{
    padding:30px 0px;
    ul{
        margin:0px;
        li{
            list-style: none;
            a{
                font-size: 14px;
                color: #0d2d3e;
                font-weight: 400;
                font-family: "Roboto",sans-serif;
                text-decoration: none;
                display: block;
                
            }
            :hover{
                color:#0d2d3e;
            }
        }
    }
    
}
// slider
.slider{
    width:100%;
    height:730px;
    background-image: url('../img/about-2.jpg');
    align-items: center;
    display: flex;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &:before{
        width:100%;
        height:100%;
        background-color: #1f2b7b;
        position: absolute;
        opacity: 0.5;
        top:0%;
        left: 0%;
        content: '';
        z-index: -1;
    
    }   
}
.slider-text{
    h2{
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 1;
        text-align: center;
        }
}
// map
iframe{
    position: relative;
    z-index: 1;
    &:before{
        width:100%;
        height:100%;
        background-color: #000;
        position: absolute;
        opacity: 0.5;
        top:0%;
        left: 0%;
        content: '';
        z-index: -1;
    
    } 
}
// contact
.contact-text{
    h2{
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 20px;
        font-family: "Roboto",sans-serif;
        color: #092c3f;
    }
}
.form-control {
    height: 189px;
    padding-left: 18px;
    font-size: 13px;
    &:focus{
        color: #212529;
        background-color: #fff;
        border-color: 0px;
        outline: 0;
        box-shadow: none;
    }
    
}
.valid{
    height: 55px;
}
.valid-2{
    height: 55px;
}
.btn {
    width: 130px;
    height: 55px;
    margin-top: 24px;
    margin-left: 10px;
    display: inline-block;
    color: #000;
    border: 1px solid #000;
}
:focus{
    background: #14435c;
    color: #fff!important;
    border: 1px solid #14435c;
    box-shadow:none;
}
.btn:hover{
    background: #14435c;
    color: #fff!important;
    border: 1px solid #14435c;
    }
.media-info{
    align-items: center;
    display: flex;
    justify-content: end;

.media{
    display: flex;
    

.contact-icon{
    ul{
        padding: 0;
    }
    li{
        list-style: none;
        margin-right: 15px;
    }
    i{
        color: #8f9195;
        font-size: 27px;
    }
}
    .main-body{
        h2{
        font-family: "Poppins",sans-serif;
        font-size: 16px;
        margin-bottom: 0;
        font-size: 16px;
        color: #2a2a2a;
            
    }
    span{
        color:#8a8a8a;
        font-family: "Poppins",sans-serif;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 15px;
        font-weight: normal;
    }
    }
}
}
// footer
.footer{
    padding:100px 0px;
    background-color: #11141b;
}
.footer-text{
    p{
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 35px;
        color: #bdbdbd;
    }
    h2{
        font-size:30px;
        color:#fff;
        span{
            color:#FF0000;
        }
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        margin:0px 0px 15px;
        text-decoration: none;
    }
}
.footer-second{
    h2{
        color: #fff;
        font-family: "Poppins",sans-serif;
        font-size: 18px;
        margin-bottom: 38px;
        font-weight: 500;
        text-transform: uppercase;
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        font-weight: 300;
        text-decoration: none;
        display: block;
        margin-bottom:15px;
    }
}
.footer-tired{
    h2{
        color: #fff;
        font-family: "Poppins",sans-serif;
        font-size: 18px;
        margin-bottom: 38px;
        font-weight: 500;
        text-transform: uppercase;
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        font-weight: 300;
        text-decoration: none;
        display: block;
        margin-bottom:15px;
    }
}
.footer-last{
    h2{
        color: #fff;
        font-family: "Poppins",sans-serif;
        font-size: 18px;
        margin-bottom: 38px;
        font-weight: 500;
        text-transform: uppercase;
    }
    a{
        font-size:16px;
        color: #bdbdbd;
        font-weight: 300;
        text-decoration: none;
        display: block;
        margin-bottom:15px;
    }
    .subcrib{
        form.subscribe_form.relative.mail_part{
            display: flex;
            border:none;
        }
        input#newsletter-form-email {
            border: none;
            padding: 10px 20px;
        }
        input#newsletter-form-email {
            border: none;
            padding: 10px 20px;
            background-color: #101720;
        }
        button#newsletter-submit {
            padding: 14px 22px;
            background: #0a0f17;
            line-height: 1;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            border: none;
        }
    }
}

/*media qaury*/
@media (min-width:0px) {
    .our-box span{
        font-size: 13px;
    }
    .over-text p{
        font-size:12px;
    }
    .counter-box {
        margin-bottom: 91px;
    }

 }   
@media (min-width:576px) {
    .service-texte-1{
        font-size:50px;
    }
    
}
@media (min-width:768px) {
    ul li {
        margin-right: 20px;
    }
    .over-text p{
        font-size: 17px;
    }
    .slider h2{
        font-size: 42px;
    }
    .our-title {
        position: relative;
        background: #fff;
        width: 80%;
        padding: 33px 8px 16px 20px;
    }
    .counter-box {
        margin-bottom: 91px;
    }
    .blog-deteils {
        padding: 30px 26px 36px 30px;
    }
    .service-texte-1{
        font-size:58px;
    }
}

@media (min-width:1200px) {
	ul li{
        margin-right: 30px;
    }
    .our-title {
        position: relative;
        background: #fff;
        width: 80%;
        padding: 33px 46px 16px 32px;
        margin-top: -50px;
    }
    .blog-deteils {
        padding: 30px 86px 36px 81px;
    }
    .our-box span{
        font-size: 15px;
    }
    .slider h2{
        font-size:60px;
    }
    .counter-box {
        margin-bottom: 0px;
    }
    
}
@media (min-width:1400px) {

}