* {
  margin: 0px;
  box-sizing: border-box; }

ul, li {
  padding: 0; }

.py-100 {
  padding: 100px 0px; }

.pt-100 {
  padding-top: 100px; }

body {
  background-color: #f7f7f7; }

.pb-100 {
  padding: 0px 0px 100px; }

header {
  width: 100%;
  height: auto;
  padding: 13px 0px;
  background-color: #0d2d3e; }

ul {
  padding: 0px;
  margin-bottom: 0px; }
  ul li {
    list-style: none;
    color: #fff;
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 100;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase; }
    ul li i {
      color: #e94d65;
      margin-right: 10px; }

.header-social li {
  list-style: none;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 100; }
.header-social i {
  color: #fff;
  margin-right: 10px; }

nav {
  padding: 30px 0px; }
  nav ul {
    margin: 0px; }
    nav ul li {
      list-style: none; }
      nav ul li a {
        font-size: 14px;
        color: #0d2d3e;
        font-weight: 400;
        font-family: "Roboto",sans-serif;
        text-decoration: none;
        display: block; }
      nav ul li :hover {
        color: #0d2d3e; }

.slider {
  width: 100%;
  height: 730px;
  background-image: url("../img/slider.webp");
  align-items: center;
  display: flex;
  background-position: center center;
  background-size: cover; }

span {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
  color: #eb566c;
  display: inline-block;
  position: relative;
  padding-left: 100px; }
  span:before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }

h2 {
  font-size: 60px;
  color: #000;
  font-family: "Sarabun",sans-serif;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 33px; }

.btn {
  background-color: #ff2143;
  padding: 14px 44px;
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  color: #fff;
  border: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin: 10px;
  cursor: pointer;
  transition: color 1s;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .btn:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    transition: all 0.5s;
    background-color: #fff;
    z-index: -1;
    opacity: 1; }

.btn:hover::before {
  width: 100%;
  color: #000;
  height: 100%; }

.our-box .btn:hover {
  color: #000; }

.service-text {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
  color: #eb566c;
  display: inline-block;
  position: relative;
  padding-left: 100px; }
  .service-text:before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }

.service-texte-1 {
  font-size: 60px;
  color: #000;
  font-family: "Sarabun",sans-serif;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 33px; }

.service-box {
  background-color: #fff;
  padding: 33px 22px; }
  .service-box .service-box-text {
    text-align: center; }
    .service-box .service-box-text h2 {
      font-size: 24px;
      color: #1c165c;
      font-weight: 600;
      margin-bottom: 21px;
      display: block; }
    .service-box .service-box-text p {
      margin-bottom: 36px;
      color: #57667e;
      font-size: 16px;
      font-family: "Roboto",sans-serif;
      margin-bottom: 36px; }
    .service-box .service-box-text .line {
      width: 80%;
      height: 2px;
      margin: 0 auto;
      background-color: #ff2143; }

.our-service {
  padding: 100px 0px;
  background-image: url("../img/our service.webp");
  background-position: center center;
  background-size: cover;
  align-items: center;
  display: flex; }

.our-box {
  padding-left: 50px; }
  .our-box .our-text {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    color: #fff; }
    .our-box .our-text:before {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      background: #eb566c;
      top: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
    .our-box .our-text:before {
      background: #fff; }
  .our-box .our-text-1 {
    font-size: 60px;
    color: #000;
    font-family: "Sarabun",sans-serif;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 33px;
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff; }
  .our-box p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto",sans-serif; }
  .our-box h5 {
    font-size: 15px;
    color: #cecece;
    background-color: none;
    padding: 0px; }
  .our-box .btn {
    background-color: #ff2143;
    padding: 27px 44px;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    color: #fff;
    display: inline-block;
    font-size: 14 px;
    border-radius: 0;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-top: 30px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden; }

.our-title {
  position: relative;
  background: #fff;
  width: 80%;
  padding: 33px 46px 16px 32px;
  margin-top: -50px; }
  .our-title .our-text {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    margin-bottom: 15px;
    line-height: 13px;
    font-family: "Roboto",sans-serif;
    position: relative;
    color: #e94d65;
    font-weight: 300;
    font-size: 14px;
    display: block;
    padding-left: 85px; }
    .our-title .our-text:before {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      background: #eb566c;
      top: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
  .our-title .our-texte-1 {
    font-size: 60px;
    color: #000;
    font-family: "Sarabun",sans-serif;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 33px;
    color: #0e132a;
    font-weight: 400;
    font-size: 20px;
    display: block; }

.over {
  background-image: url("../img/over.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px; }

.over-text {
  text-align: center; }
  .over-text .over-icon {
    text-align: center;
    margin-bottom: 30px;
    display: block; }
  .over-text p {
    line-height: 1.5;
    margin-bottom: 50px;
    font-size: 17px;
    color: #d3d3d4;
    font-weight: 300; }

.over-img {
  display: flex;
  justify-content: center; }
  .over-img .over-img-1 {
    margin-right: 30px; }
  .over-img h2 {
    color: #f04e3c;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px; }
  .over-img p {
    font-size: 18px;
    color: #57667e;
    font-weight: 500;
    line-height: 1.5; }

.counter-box {
  height: 200px;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: -70px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1; }
  .counter-box .counter {
    color: #000;
    font-size: 60px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    line-height: 1;
    margin-bottom: 12px;
    display: block; }
  .counter-box .counter-p {
    font-size: 18px;
    color: #737980;
    line-height: 1;
    margin: 0;
    padding: 0; }

.our-them-text {
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
  color: #eb566c;
  display: inline-block;
  position: relative;
  padding-left: 100px; }
  .our-them-text:before {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background: #eb566c;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }

.our-them-text-1 {
  font-size: 60px;
  color: #000;
  font-family: "Sarabun",sans-serif;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 33px;
  font-size: 50px; }

.our-item {
  background-color: #fff;
  padding: 0px 0px 20px 0px; }
  .our-item .our-item-img {
    overflow: hidden; }
    .our-item .our-item-img .our-item-img img {
      transition: all 1s; }
    .our-item .our-item-img :hover {
      transform: scale(1.3);
      transition: all 1s;
      cursor: pointer; }

.our-title-1 {
  padding-top: 30px;
  padding-left: 30px; }
  .our-title-1 .our-text-1 {
    font-size: 60px;
    color: #000;
    font-family: "Sarabun",sans-serif;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 33px;
    font-size: 25px;
    margin-bottom: 12px; }
  .our-title-1 .our-text {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    margin: 0px;
    color: #ff2143;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 47px; }
    .our-title-1 .our-text:before {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      background: #eb566c;
      top: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
    .our-title-1 .our-text:before {
      width: 10%; }

.blog {
  position: relative; }
  .blog .blog-img {
    overflow: hidden; }
    .blog .blog-img :hover {
      transform: scale(1.2);
      transition: all 1s; }
  .blog .blog-data {
    position: absolute;
    width: 70%;
    bottom: 0%; }
    .blog .blog-data h4 {
      font-size: 14px;
      font-family: "Roboto",sans-serif;
      font-weight: 300;
      color: #011548;
      padding: 20px 30px 20px 84px;
      margin-bottom: 0px;
      background: #f7f7f7; }

.blog-deteils {
  background-color: #fff;
  padding: 30px 86px 36px 81px; }
  .blog-deteils a {
    color: #191d34;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block; }
  .blog-deteils p {
    color: #737980;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: "Roboto",sans-serif; }
  .blog-deteils .our-them-text {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
    color: #eb566c;
    display: inline-block;
    position: relative;
    padding-left: 100px;
    margin: 0px;
    color: #ff2143;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 47px; }
    .blog-deteils .our-them-text:before {
      position: absolute;
      content: "";
      width: 70px;
      height: 2px;
      background: #eb566c;
      top: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
    .blog-deteils .our-them-text:before {
      width: 34px; }

.about {
  padding: 100px 0px;
  background-image: url("../img/about.webp");
  background-position: center center;
  background-size: cover;
  align-items: center;
  display: flex; }

.about-text h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0; }

.btn-2 {
  position: relative;
  line-height: 73px;
  height: 70px;
  background-color: #0b1416;
  padding: 0px 44px;
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin: 10px;
  text-align: end;
  cursor: pointer;
  text-decoration: none;
  z-index: 1; }
  .btn-2:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    transition: all 0.5s;
    background-color: #fff;
    z-index: -1;
    opacity: 1; }

a:hover {
  color: #000; }

.btn-2:hover::before {
  width: 100%;
  color: #000;
  height: 100%; }

.footer {
  padding: 100px 0px;
  background-color: #11141b; }

.footer-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 35px;
  color: #bdbdbd; }
.footer-text h2 {
  font-size: 30px;
  color: #fff; }
  .footer-text h2 span {
    color: #FF0000;
    padding-left: 0px; }
    .footer-text h2 span::before {
      background-color: none;
      width: 0px;
      height: 0px;
      display: none; }
.footer-text a {
  font-size: 16px;
  color: #bdbdbd;
  margin: 0px 0px 15px;
  text-decoration: none; }

.footer-second h2 {
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  text-transform: uppercase; }
.footer-second a {
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: 15px; }

.footer-tired h2 {
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  text-transform: uppercase; }
.footer-tired a {
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: 15px; }

.footer-last h2 {
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  text-transform: uppercase; }
.footer-last a {
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: 15px; }
.footer-last .subcrib form.subscribe_form.relative.mail_part {
  display: flex;
  border: none; }
.footer-last .subcrib input#newsletter-form-email {
  border: none;
  padding: 10px 20px; }
.footer-last .subcrib input#newsletter-form-email {
  border: none;
  padding: 10px 20px;
  background-color: #101720; }
.footer-last .subcrib button#newsletter-submit {
  padding: 14px 22px;
  background: #0a0f17;
  line-height: 1;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  border: none; }

/*media qaury*/
@media (min-width: 0px) {
  .our-box span {
    font-size: 13px; }

  .over-text p {
    font-size: 12px; }

  .counter-box {
    margin-bottom: 91px; } }
@media (min-width: 576px) {
  .service-texte-1 {
    font-size: 50px; } }
@media (min-width: 768px) {
  ul li {
    margin-right: 20px; }

  .over-text p {
    font-size: 17px; }

  .slider h2 {
    font-size: 42px; }

  .our-title {
    position: relative;
    background: #fff;
    width: 80%;
    padding: 33px 8px 16px 20px; }

  .counter-box {
    margin-bottom: 91px; }

  .blog-deteils {
    padding: 30px 26px 36px 30px; }

  .service-texte-1 {
    font-size: 58px; } }
@media (min-width: 1200px) {
  ul li {
    margin-right: 30px; }

  .our-title {
    position: relative;
    background: #fff;
    width: 80%;
    padding: 33px 46px 16px 32px;
    margin-top: -50px; }

  .blog-deteils {
    padding: 30px 86px 36px 81px; }

  .our-box span {
    font-size: 15px; }

  .slider h2 {
    font-size: 60px; }

  .counter-box {
    margin-bottom: 0px; } }

/*# sourceMappingURL=tyle.css.map */
