:root {
    --bs-primary: #fb8b40;
    --bs-secondary: #a09833;
    --bs-light: #dcd794;
    --bs-dark: #414141;
    --bs-gray: #999999;
    --bg-header: #070707;
    --bg-light: #f0ebe5;
}

.bg-light {
    background-color: var(--bg-light) !important;
}

body {
    font-family: 'Lato';
    font-size: 15px;
    line-height: 24px;
    color: var(--bs-dark);
}

.py-50 {
    padding: 50px 0;
}
.py-100 {
    padding: 100px 0;
}

.py-130 {
    padding: 130px 0;
}

.title {
    position: relative;
    font-size: 40px;
    font-family: 'Architects Daughter';
    color: var(--bs-primary);
    margin: 30px 0;
}

.title::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    width: 250px;
    height: 2px;
    background-color: #e9e1d6;
    display: none;
}

.read-more {
    border-bottom: 2px solid var(--bs-primary);
    transition: all 0.3s ease;
}

.btn-link {
    color: var(--bs-primary);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.read-more:hover .btn-link {
    color: var(--bs-secondary);
}

.read-more:hover {
    border-bottom-color: var(--bs-secondary);
}

/* Header */
header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-header);
    z-index: 9;
}

header .nav {
    border-bottom: 2px solid #736558;
    padding-bottom: 15px;
}

.schedule a {
    padding: 10px 15px;
}

header .nav-link:focus,
.nav-link:hover {
    color: var(--bs-white);
}

header .navbar-dark .navbar-nav .nav-link,
header .navbar-dark .navbar-nav .nav-link.active {
    font-size: 12px;
    color: var(--bs-gray);
    padding: 1em 0;
}

header .navbar-dark .navbar-nav .nav-link:focus,
header .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--bs-secondary);
}

header .navbar-dark .navbar-nav .nav-item {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.schedule {
    margin-left: 40px;
    background-image: url('../images/btn.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Slider */
.slider{
    background-image: url('../images/breadcumb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 350px 0 20px;
}
.slider h2{
    font-size: 45px;
    font-family: 'Architects Daughter';
}
.slider h2::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 280px;
    height: 4px;
    background-color: #fff;
}
/* Remember */
.remember{
    background-color: var(--bg-light);
}
.remember .accordion-body{
    padding: 15px;
    background-color: #fff;
}
.remember .accordion-item li{
    padding-bottom: 5px;
    border-bottom: 1px solid #eae1d7;
    margin-bottom: 5px;
}
.remember .accordion-item li a{
    color: #93826e;
}
.remember .accordion-item li span, .remember .accordion-item li p{
    color: var(--bs-primary);
}
.accordion-button:hover{
    background-color: #dcd794;
    color: #fff;
}
.accordion-button:not(.collapsed){
    color: #fff;
    background-color: #e3dbd1;
}
.accordion-button{
    color: #222222;
    background-color: #e3dbd1;
}
.accordion-button::after{
    background-image: url('../images/btnarrow.png');
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    background-size: cover;
    content: '➜';
    text-align: center;
    line-height: 30px;
    color: var(--bs-light);
}
.accordion-button:not(.collapsed)::after{
    background-image: url('../images/btn-hover.png');
    transform: rotate(90deg);
}
.accordion-button p{
    flex-basis: calc(100% - 50px);
    line-height: 24px;
}
/* Adversite */
.adversite{
    background-image: url('../images/animal-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.adversite h2{
    font-size: 45px;
    font-family: 'Architects Daughter';
    margin-bottom: 10px;
}
.adversite .read-more{
    margin-top: 15px;
}
.adversite .read-more:hover{
    border-bottom-color: var(--bs-primary);
}
.adversite .read-more:hover .btn-link{
    color: var(--bs-primary);
}
/* Footer-top */
.footer-top {
    background-image: url('../images/footer-top.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 0;
}

.footer-top-content {
    padding-bottom: 50px;
}

.footer-top-content h2 {
    color: var(--bs-secondary);
    font-family: 'Architects Daughter';
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.footer-top-content strong {
    margin-bottom: 20px;
}

.footer-top-content p {
    margin: 20px 0;
}

.footer-top img:hover{
    opacity: 0.9;
}

/* Main Footer */
.main-footer {
    border-bottom: 1px solid #dddddd;
}

.main-footer h2 {
    font-size: 24px;
    color: var(--bs-secondary);
    font-family: 'Architects Daughter';
    margin-bottom: 20px;
}

.explore,
.tweets,
.gallery {
    margin-bottom: 30px;
}

.explore ul {
    list-style-image: url('../images/icon.png');
}

.explore li {
    margin-bottom: 10px;
    list-style-position: inside;
}

.explore a,
.tweets a {
    font-size: 16px;
    color: var(--bs-dark);
}

.explore a:hover {
    color: #000;
}

.tweets i {
    color: var(--bs-secondary);
}

.tweets span {
    color: var(--bs-secondary);
}

.gallery li,
.sponsor li {
    margin: 2px;
}

.normal-sp {
    display: block;
}

.hover-sp {
    display: none;
}

.sponsor li:hover .normal-sp {
    display: none;
}

.sponsor li:hover .hover-sp {
    display: block;
}

/* Footer Bottom */
.footer-menu {
    margin-bottom: 30px;
}

.footer-menu a {
    color: #333333;
    font-size: 16px;
}

.footer-menu a:hover {
    color: var(--bs-secondary);
}

.footer-menu li {
    margin: 0 5px;
}

.copyright i {
    color: #f00;
}

@media (min-width: 768px) {
    .title::after {
        display: block;
    }

    .footer-menu {
        margin-bottom: 0;
    }

    .title{
        margin: 0 0 30px;
    }
}

@media (min-width: 992px) {
    header {
        background-color: transparent;
        margin-top: 17px;
    }

    header .navbar-dark .navbar-nav .nav-link,
    header .navbar-dark .navbar-nav .nav-link.active {
        font-family: 'Architects Daughter';
        font-size: 22px;
        color: var(--bs-light);
        padding: 20px 35px;
    }

    header .navbar-dark .navbar-nav .nav-link.active {
        color: var(--bs-white);
    }

    header .navbar-dark .navbar-nav .nav-link:focus,
    header .navbar-dark .navbar-nav .nav-link:hover {
        color: var(--bs-white);
    }

    header .navbar-dark .navbar-nav .nav-item {
        border-top: none;
    }

    .footer-top-content {
        padding-bottom: 0;
    }

    .adversite p{
        margin-right: 600px;
    } 
    
    .title{
        margin: 0 0 60px;
    }
}
@media (min-width: 1400px) {

    header .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        padding: 20px 35px;
    }
}